.right{
    width: 470px;
    height: 612px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
    

    select:focus, input:focus {outline: none;}

    .form_div{
        margin: 60px;
    
        h1{
            font-size: 28px;
            font-weight: 600;
            // margin-bottom: 32px;
        }
    }

    form{

        .module_field{
            margin-top: 2em;
    
            .button{
                // margin-top: 1em;
                display: flex;
                justify-content: flex-start;
    
                input{
                    font-size: 18px;
                    border-radius: 5px;
                    padding: 10px 20px;
                    border: hidden;
                    background-color: #3056D3;
                    color: white;
                    transition: background-color .5s;
                    cursor: pointer;
    
                    &:hover{
                        transition: background-color .5s;
                        background-color: darken($color: #3056D3, $amount: 10);
                    }
                }
            }
        }
    
        p{
            font-size: 13px;
            font-weight: 400;
            color: #637381;
            margin-bottom: 5px;
            margin-left: 5px;
        }
    
        .field{
            // border: solid 1px #000;
            // border-radius: 25px;
            display: flex;
            flex-flow: row;
            align-items: center;
            padding: 5px;
    
            #empty_field{
                margin: 0 10px;
            }
    
            input{
                border: hidden;
                width: 100%;
                font-size: 15px;
                color: #637381;
                font-weight: 400;
            }
        }
    }
}